
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<script src="http://g.alicdn.com/kissy/k/1.4.7/seed.js" data-config="{combine:true}"></script>
<link rel="stylesheet" type="text/css" href="$ftreeContent.getURI('scripts/styles/pagination.css')">
<link rel="stylesheet" type="text/css" href="$ftreeContent.getURI('scripts/styles/list.css')">
<link rel="stylesheet" type="text/css" href="http://a.tbcdn.cn/apps/spucenter/ocp_spu/source/css/query-list.css">
</head>
<body>
	$screen_placeholder
</body>
</html>